<mat-checkbox
  #showDetails
  [checked]="isChecked"
  (change)="onChange($event)"
>Show Details</mat-checkbox>

<br>
<div *ngIf="showDetails.checked" >Some Details...</div>
<br>
<mat-radio-group aria-label="Select an option" value="2">
  <mat-radio-button value="1">Male</mat-radio-button>
  <mat-radio-button value="2">Female</mat-radio-button>
</mat-radio-group>

<br>
<br>
<mat-form-field appearance="fill">
  <mat-label>Favorite Color</mat-label>
  <mat-select [(ngModel)]="color">
    <mat-option *ngFor="let color of colors" [value]="color.id">
      {{ color.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<br>
<br>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Username</mat-label>
  <input 
    ngModel
    #username="ngModel"
    name="username"
    matInput placeholder="" value="" required>
  <mat-hint>Type a unigue Username</mat-hint>
  <span matSuffix>@domain.com</span>
  <span matPrefix>admin.</span>
  <mat-error *ngIf="username.invalid && username.errors">The Username field is required</mat-error>
</mat-form-field>

<br>
<br>

<mat-form-field>
  <textarea matInput cdkTextareaAutosize rows="2"></textarea>
</mat-form-field>

<br>
<br>

<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input 
    (focus)="birthdate.open()"
    [min]="minDate"
    [max]="maxDate"
    matInput [matDatepicker]="birthdate">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
  <mat-datepicker #birthdate touchUi="true"></mat-datepicker>
</mat-form-field>
